@use '../base/variables' as *;

.home {
  position: relative;
  background-image: url('../img/home-banner.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;

  padding-bottom: 20px;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 116px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
    pointer-events: none;
  }

  .container {
    height: 100%;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
  }

  &__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    margin-bottom: 32px;
    flex-wrap: wrap;

    @media (max-width: 768px) {
      display: none;
    }
  }

  &__title {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 400;
    color: $color-white;
  }

  &__links {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__link {
    padding: 8px 40px;
  }
}