@use '../base/variables' as *;

.projects {
  &__inner {
  }

  &__title {
  }

  &__items {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__item {
    padding-top: 20px;
    border-top: 1px solid #89867C;

    &:last-child {
      border-bottom: 1px solid #89867C;
    }
  }

  &__item-top {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 8px;

    @media (max-width: 1024px) {
      margin-bottom: 12px;
    }
  }

  &__item-name {
  }

  &__item-title {
    font-size: 32px;
    color: $color-white;

    @media (max-width: 768px) {
      font-size: 24px;
    }
  }

  &__item-area {
    font-size: 24px;
    color: $color-grey;
    margin-top: 4px;

    @media (max-width: 768px) {
      font-size: 20px;
    }
  }

  &__item-body {
    display: grid;
    grid-template-columns: minmax(0, .55fr) minmax(0, 1fr);
    align-items: center;
    gap: 28px;

    @media (max-width: 1024px) {
      gap: 12px;
      grid-template-columns: minmax(0, 1fr);
    }
  }

  &__item-descr {
    color: #aaaaaa;
    font-size: 16px;

    @media (max-width: 768px) {
      font-size: 14px;
    }
  }

  &__item-gallery {
    display: flex;
    gap: 20px;
    min-width: 0;

    @media (max-width: 1024px) {
      margin-bottom: 12px;
    }
  }

  &__item-img {
    width: 100%;
    height: auto;
    min-width: 0;
    object-fit: cover;
  }
}