.header {
  height: 116px;
  width: 100%;

  display: flex;
  align-items: center;

  &__inner {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: flex-start;
    gap: 16px;

    .btn {
      justify-self: end;
    }
  }

  .container {
    width: 100%;
  }
}