@use '../base/variables' as *;

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  padding: 8px 24px;

  font-size: 16px;
  line-height: normal;
  white-space: nowrap;
  border-radius: 100px;

  @media (max-width: 1024px) {
    font-size: 14px;
    padding: 6px 20px;
  }

  &_outline {
    color: $color-white;
    border: 1px solid $color-white;
  }

  &_filled {
    background-color: $color-white;
    color: $color-black;
  }

  &_wide {
    padding: 8px 80px;

    @media (max-width: 1024px) {
      padding: 6px 48px;
    }
  }
}