@use '../base/variables' as *;

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 24px;

  font-size: 16px;
  line-height: normal;

  &_outline {
    color: $color-white;
    border: 1px solid $color-white;
    border-radius: 100px;
  }

  &_outline {
    color: $color-white;
    border: 1px solid $color-white;
    border-radius: 100px;
  }

  &_wide {
    padding: 10px 80px;
    color: ;
  }
}