@use '../base/variables' as *;

html {
  scroll-behavior: smooth;
}

body {
  background-color: #0c0c0c;
}

.section {
  padding-top: $header-height-desktop;

  @media (max-width: 840px) {
    padding-top: $header-height-mobile;
  }
}