@use 'variables' as *;

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: normal;
  color: $color-white;
}

.title {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 48px;
  color: $color-grey;
  margin-bottom: 28px;

  @media (max-width: 768px) {
    font-size: 24px;
    margin-bottom: 12px;
  }
}